.roleMenuItem {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-areas:
    'icon      title       checkIcon'
    '.         description checkIcon';
  column-gap: var(--space-1);
}

.menuItem:hover {
  background-color: var(--color-background-main) !important;
}

.menuItem:global(.Mui-selected) {
  background-color: var(--color-background-main);
}
