.container {
  width: 100%;
  padding: 11px 16px;
  background-color: var(--color-background-paper);
  border-radius: 8px;
  flex-wrap: nowrap;
  display: grid;
  grid-template-columns: 1fr 150px;
  align-items: center;
  gap: var(--space-2);
  min-height: 50px;
  position: relative;
}

.recoveryContainer {
  grid-template-columns: 1fr 170px;
}

.pendingTxHeader :global .MuiBadge-root {
  margin-left: var(--space-1);
}

.pendingTxHeader :global .MuiBadge-badge {
  position: relative;
}

.innerContainer {
  min-width: 0;
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: var(--space-2);
}

.container:hover {
  background-color: var(--color-background-main);
}

.tokenAmount * {
  font-weight: normal;
  color: var(--color-primary-light);
}

.list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.skeleton {
  border-radius: 8px;
  overflow: hidden;
}

.title {
  display: flex;
  justify-content: space-between;
}

.assetButtons {
  position: absolute;
  right: 16px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s;
  background-color: var(--color-background-main);
  border-radius: var(--space-1);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  width: calc(100% - 200px);
}

.container:hover .assetButtons {
  opacity: 1;
  visibility: visible;
}

.bar {
  height: 4px;
  border-radius: 4px;
  background-color: var(--color-border-light);
  width: 100px;
}

.barPercentage {
  display: block;
  border-radius: 4px;
  height: 100%;
  background: linear-gradient(225deg, #5FDDFF 12.5%, #12FF80 88.07%);
}

.iconWrapper {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--color-background-main);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.txDescription {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 4px;
}

.txDescription img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.confirmations {
  align-self: center;
  margin-left: auto;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 12px;
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    grid-template-columns: 1fr;
    gap: var(--space-1);
  }

  .confirmations {
    margin-left: 40px;
  }
}
