.overlay {
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(270deg, var(--color-background-paper) 0%, rgba(255, 255, 255, 0.00) 100%);
  height: 100%;
  width: 15%;
  margin: 0 !important;
  z-index: 0;
  cursor: pointer;
}

.slider {
  overflow: hidden;
  width: 100%;
  touch-action: pan-y;
  display: flex;
  gap: var(--space-2);
  cursor: grab;
}

.grabbing {
  cursor: grabbing;
}

.dots {
  display: flex;
  gap: var(--space-1);
  margin-top: var(--space-2) !important;
  align-items: center;
}

.dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--color-border-light);
  border: none;
  padding: 0;
  cursor: pointer;
}

.active {
  background-color: var(--color-primary-main);
}