.benefitIcon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--color-success-background);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: var(--space-2);
  flex-shrink: 0;
}

.benefit {
  border-top: 1px solid var(--color-border-light);
  padding-top: var(--space-2);
}

.apy {
  padding: 4px var(--space-1);
  background: var(--color-text-disabled);
  border-radius: 4px;
}

.bannerWrapper {
  position: relative;
  border: none;
  margin: 0;
  padding: var(--space-4);
}

.earnIllustration {
  position: absolute;
  height: inherit;
  right: var(--space-10);
}

.gradientShadow {
  width: 400px;
  height: 243px;
  background: linear-gradient(#b0ffc9, #5fddff);
  filter: blur(40px);
  position: absolute;
  right: 0;
  top: var(--space-8);
  border-radius: 50%;
}

.gradientShadowDarkMode {
  background: linear-gradient(#04491a, #087796);
}

.kilnIcon {
  height: 20px;
  width: inherit;
  margin-top: -5px !important;
}

.kilnIconDarkMode path {
  fill: var(--color-primary-light);
}

.morphoIcon {
  height: 20px;
  width: inherit;
  margin-top: -5px !important;
}

.morphoIconDarkMode path {
  fill: var(--color-primary-light);
}

.gradientText {
  background: linear-gradient(225deg, #5fddff 12.5%, #12ff80 88.07%);
  background-clip: text;
  color: transparent;
}

.header {
  max-width: 600px;
  font-weight: bold;
}

.content {
  max-width: 550px;
}

@media (max-width: 899.99px) {
  .header {
    padding: 0;
  }
}